html, body{
  height:100%;
  margin:0;
  padding: 0;
/*  background-color: #E8E8E8;
*/  border: WhiteSmoke;
}

#logo{
  width: 50px;
}
#main{
  overflow: auto;
}

#project_par *{
  margin: auto;
  width: 80%
}

.h1Jumbo{
  text-align: right;
  color: #47b1d1;
}

/*#gitLink{
  color: #e8e9ed;
  background-color: #616163;
}*/
.btn-light {
/*    background-image: none;
    filter: none;
  background-color: #e6e9eb;*/

}

.card-deck{
  padding: 10px;
  margin: 10px;
  border: 10px;
}

